<%- include("../partials/header") %>
<style>
    .orders {
  list-style: none;
  padding: 0;
  margin: 0;
}

.orders__item h1 {
    margin: 0;
    font-size: 1rem;
}

.orders__item {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin-bottom: 1rem;
}

.orders__products {
    list-style: none;
    margin: 0;
    padding: 0;
}

.orders__products-item {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #00695c;
    color: #00695c;
}

</style>
<div class="container" style="height: 100%;">

 <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders__item">
                            <h1>Order - # <%= order._id %></h1>
                            <ul class="orders__products">
                                <% order.products.forEach(p => { %>
                                    <li class="orders__products-item"><%= p.product.title %> (<%= p.quantity %>)</li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
    </div>

 <%- include("../partials/footer") %>