<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Store</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
</head>

<body>
	<header>
		<nav id="nav">
            
			<div class="logo nav-common"><h1>KashmirFest</h1></div>
			<ul class="nav-common">
				<li><a href="/">home</a></li>
				<li><a href="/allProducts">products</a></li>
				<li><a href="#blog">blog</a></li>
                <li><a href="#collections">collections</a></li>
				<li><a href="#contact">contact</a></li>
                

				<% if(isAuthenticated){ %>
					
					<li><a href="/cart">cart</a></li>
					<!-- <li><a href="/orders">orders</a></li> -->
					<li><a href="/admin/addProducts">Addproduct</a></li>
					<li><a href="/logout">LogOut</a></li>
			    <%	}else{  %>
					<li><a href="/login">Login</a></li>
					<li><a href="/register">Singin</a></li>
		     	<%} %>
				
                
			</ul>
			

		</nav>
		<div class="container" style="margin: auto; margin-top: 20px; width: 50%; text-align: center;">
			<% if(msg && msg.length>0){ %>
			 <div class="alert alert-success" role="alert">
			   <%= msg %>
			</div>
			<% } %>
				
			 <% if(error && error.length>0){ %>
			   <div class="alert alert-danger" role="alert">
				 <%= error %>
			  </div>
			 <% } %>
			
			  
			</div>
<div class="container">
    <div class="card mb-3">
        <img class="card-img-top" src="/uploads/<%=product.file%>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%=product.title%></h5>
          <p class="card-text"><%=product.description%></p>
          <% if(isAuthenticated){ %>
          <a href="" class="btn btn-primary">ADD To cart</a>
          <a href="" class="btn btn-sm btn-warning">edit</a>
          <a href="" class="btn btn-sm btn-danger">delete</a>
          <%}%>
        </div>
      </div>
</div>

<section id="contact">
    <div class="container">
        <h4>cantact us</h4>
        <p>451 awenve 5th street new york city</p>
        <p>+ (42) 442 4521</p>
        <p>info.fashion@gmail.com</p>
        <p class="email">emailus <span><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412541/E-commerce%20landing%20page/icons/get_in_touch_1x.png" alt="email-image"></span></p>
    </div>
</section>
<footer>
    <p class="copy-right"><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412543/E-commerce%20landing%20page/icons/copy-right-img_1x.png" alt="copy right image" /> 2017 all right recived </p>
    <p>privacy policy</p>
    <p>license</p>
</footer>
<div class="back-to-top"><a href="#nav"> <img title="Back to Top." src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412541/E-commerce%20landing%20page/icons/back_-_top_1x.png" alt="back to top"></a> </div>
</body>

</html>